input[type=text],[type=password]{
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius:4px;
    border:1px solid black;
    box-sizing: border-box;
    display: inline-block;
}

.form{
    border-radius:5px;
    background-color:rgb(165, 239, 215);
    padding:20px;
    width:420px;
    margin:10 auto;
    
}

button {
    border-radius: 10px;
    padding: 0 25px;
    margin: 0 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px;
    cursor: pointer;
    background:rgb(57, 151, 57);

  &:hover {
        background:rgb(152, 227, 23) ;
    }

    
   
}
    
