
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="Submit()">

            <div class="form-field">
                <label>First Name</label>
                <input formControlName="firstname" type="text">
            </div>

            <div class="form-field">
                <label>Lastname</label>
                <input formControlName="lastname" type="text">
            </div>

            <div class="form-field">
                <label>Email</label>
                <input formControlName="email" type="text">
            </div>

            <div class="form-field">
                <label>Password</label>
                <input formControlName="password" type="password">
            </div>

            <div class="form-field">
                <label>Confirm password</label>
                <input formControlName="password" type="password">
            </div>

            <div class="form-filed">
                <label>Accept Terms % Conditions</label>
                <input formControlName="acceptTerms" type="checkbox">
            </div>

            <div class="form-filed">
                <button class="register" type="submit">Register</button>
            </div>
        </form>
    </div>
